body{
    margin: 20px;
}

.struk{
    width: 80mm;
    max-width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
}
.struk-header, .struk-footer{
    text-align: center;
    margin-bottom: 10px;
}

.struk-header h1{
    font-size: 18px;
    margin: 0;
}
.struk-body{
    margin-bottom: 10px;
}

.struk-body table{
    width: 100%;
    border-collapse: collapse;
}

.struk-body table th, .struk-body table td{
    padding: 5px;
    text-align: left;
}

.struk-body{
    border-bottom: 1px solid black;
}

.total, .payment, .change{
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    font-weight: bold;
}

.total{
    margin-top: 10px;
    border-top: 1px solid black;
}

@media print{
    body{
        margin: 0;
        padding: 0;
    }
    .struk{
        margin: 0;
        border: none;
        padding: 0;
        width: auto;
    }
    .struk-header h1, .struk-footer{
        font-size: 14px;
    }
    .struk-body table th, .struk-body table td{
        padding: 2px;
    }
    .total, .payment, .change{
        padding: 2px 0;
    }
}